.link:hover {
  cursor: pointer;
  background-color: #292929;
  color: #f5f5f5;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar-brand img {
  max-height: 100%;
}

.container {
  text-align: left;
}
