---
layout: default
regenerate: true
---

<div class="home">

    <div class="row pack">
    {% assign sortedPages = site.pages | sort:"hcOrder" | reverse %}
		{% for page in sortedPages %}
		{% if page.page-type == "hcPage" %}
            <div class="col-md-4 card">
              <div class="hcCard">
             <a href="{{ page.url | prepend: site.baseurl }}" class="index-anchor">
                <div class="panel panel-default">

                  {% if page.img %}
                  <img width="100%" src="{{site.baseurl}}{{page.url}}resized/400/{{page.img}}" alt="{{page.title}}" class="img-rounded">
                  {% endif %}

                  <div class="panel-body">
                    <h3 class="panel-title pull-left">{{ page.title | truncate: 25 }}</h3><span class="post-meta pull-right"><small>{{ page.date | date: "%b %-d, %Y" }}</small></span>
                  </div>
                  {% comment %}
                  <div class="panel-body"><small>
					{% assign excerpt = page.content | split: site.excerpt_separator %}
                    {{ excerpt[0] | strip_html | strip_newlines | truncate: 160 }}</small>
                  </div>
                  {% endcomment %}

                  <div class="panel-body">
          {% assign excerpt = page.content | split: site.excerpt_separator %}
                    {{ excerpt[0] | strip_html | strip_newlines | truncate: 160 }}
                  </div>

                </div>
                </a>
            </div>
            </div>
		  {% endif %}
          {% endfor %}

    </div>

<div class="row">
    <div class="col-md-4">  </div>
    <div class="col-md-4">
        {% if paginator.total_pages > 1 %}
        <ul class="pagination">
          {% if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
          {% else %}
            <li><span>&laquo; Prev</span></li>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <li class="active"><span><em>{{ page }}</em></span></li>
            {% elsif page == 1 %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
            {% else %}
            <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
          {% else %}
            <li><span >Next &raquo;</span></li>
          {% endif %}
          </ul>
        {% endif %}

    </div>
    <div class="col-md-4">  </div>
</div>
</div>
